* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--color-bg-main);
	color: var(--color-text-primary);
	transition: background-color 0.3s, color 0.3s;
}

main {
	display: flex;
	margin-top: 20px;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page {
	flex: 1;
	max-width: 2000px;
	padding: 0px 70px;
	animation: fadeIn 0.3s ease;
	margin: auto;
	width: 100%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.page p{
	overflow-wrap: break-word
}

@media (max-width: 768px) {
	.page {
		padding: 0px 30px;
	}
}


/* Webkit核心浏览器样式 */
::-webkit-scrollbar {
	width: 9px;
}

/* ::-webkit-scrollbar-track {
	margin-top: 0px;
} */

::-webkit-scrollbar-thumb {
	background: var(--color-scrollbar);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-accent);
}

::-webkit-scrollbar-thumb:active {
	background: var(--color-accent);
}
