* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

body {
	margin: 0 auto;
	padding: 50px 70px;
	background-color: var(--color-bg-main);
	color: var(--color-text-primary);
	transition: background-color 0.3s, color 0.3s;
}

main {
	margin-top: 20px;
}

.page {
	animation: fadeIn 0.3s ease;
	max-width: 2000px;
	min-width: 320px;
	margin: auto;
}

.page.active {
	display: block;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* Webkit核心浏览器样式 */
::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	margin-top: 0px; /* 设置与顶部的间隔 */
}

::-webkit-scrollbar-thumb {
	background: var(--color-scrollbar);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-accent);
}

::-webkit-scrollbar-thumb:active {
	background: var(--color-accent);
}