.page.links-page {
    display: flex;
    flex-wrap: wrap;
}

.links-page .left-panel {
    width: 40%;
    padding: 40px;
}

.links-page .left-panel iframe {
    border: none;
}


.links-page .right-panel {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.links-page #link-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.links-page h2,
.links-page a{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.links-page .link-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
    background-color: var(--color-bg-card);
}

.links-page #site-info {
    margin-bottom: 20px;
    /* border: 1px solid var(--color-border); */
}

.links-page #favicon {
    width: 100px;
    height: 75px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.links-page #site-name {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.links-page #site-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    color: var(--color-accent);
}

.links-page #site-link h2{
    margin-top: 15px;
    height: 50px;
}


.links-page #web-display {
    transform: scale(0.333);
    transform-origin: 0 0;
    width: 300%;
    height: 140%;
}

@media (max-width: 768px) {
    .links-page{
        flex-direction: column;
    }

	.links-page #web-display {
        display: none;
    }
    .links-page .left-panel {
        padding-bottom: 0px;
    }
    .links-page .right-panel {
        padding-top: 0px;
    }
    .links-page .left-panel {
        width: 100%;
    }
}
