.navbar {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--color-bg-nav);
	padding: 0.5rem 5%;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav-links {
	display: flex;
  	flex-wrap: wrap; 
	gap: 20px;
	list-style: none;
}

.navbar a {
	text-decoration: none;
	color: var(--color-text-primary);
	font-weight: 500;
	padding: 0.3rem 0.6rem;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
	background-color: var(--color-accent);
	color: var(--color-bg-card);
}

.lang-switcher {
    cursor: pointer;
	margin-left: auto; 
    padding: 5px 10px;
    border-radius: 3px;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) ,
        background-color 0.3s ease;
}

.lang-switcher:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.lang-switcher:active {
	-webkit-transform: scale(0.9) rotate(5deg);
	transform: scale(0.9) rotate(5deg);
}

.en-label,
.zh-label {
	transition: color 0.3s ease;
}

.en-label.active,
.zh-label.active {
	color: var(--color-accent);
}

.cn-version.hide,
.en-version.hide {
	display: none;
}

#menu-icon {
	display: none;
    cursor: pointer;
	padding: 3px 6px;
	height: 1.3em;
	fill: var(--color-accent);
}


#lang-switcher-mini {
	display: none;
}

@media (max-width: 768px) {
	.navbar {
		padding: 10px 3%;
	}

	.nav-links{
		gap: 10px;
	}

	.navbar a {
		padding: 3px 6px;
		font-size: 0.9em;
	}
	.lang-switcher {
		padding: 3px 6px;
		font-size: 0.9em;
	}
}

@media (max-width: 480px) {
	.nav-links {
		gap: 5px;
	}
	.navbar a {
		padding: 2px 4px;
		font-size: 0.8em;
	}
	#lang-switcher-mini {
		display: block;
		font-size: 0.8em;
	}
	#lang-switcher {
		display: none;
	}
	#menu-icon {
		display: block;
	}
	.nav-links {
		display: none;
	}
	.nav-links.active {
		display: flex;
	}

}

@media (hover: none) {
    .lang-switcher:hover {
		-webkit-transform: none;
		transform: none;
	}
	.lang-switcher:active {
		-webkit-transform: scale(0.9) rotate(5deg);
		transform: scale(0.9) rotate(5deg);
	}
}