<section class="page cv-page">
	<!-- <embed
		src="material/简历.pdf"
		type="application/pdf"
		width="100%"
		height="600px"
	/> -->
	<object
		data="material/简历.pdf"
		type="application/pdf"
		width="100%"
		height="600px"
	>
		<p>
			Your browser does not support direct display of PDF files. Please click
			the link below to view:
			<a href="material/简历.pdf">下载 PDF</a>
		</p>
	</object>
	<p class="en-version">
		View directly:
		<a href="material/简历.pdf">CV pdf</a>.
	</p>
	<p class="cn-version">
		直接查看：
		<a href="material/简历.pdf">CV pdf</a>.
	</p>
</section>
