<section class="page home-page">
	<div class="left-column">
		<div class="header">
			<img src="images/avatar.jpg" alt="Zixi Wang" class="avatar" />
			<div class="info en-version">
				<h1>Zixi Wang</h1>
				<p>MS student</p>
				<p>School of Information and Software Engineering</p>
				<p>University of Electronic Science and Technology of China</p>
				<p>Chengdu, Sichuan, China</p>
			</div>
			<div class="info cn-version">
				<h1>王梓翕</h1>
				<p>硕士研究生</p>
				<p>信息与软件工程学院</p>
				<p>电子科技大学</p>
				<p>中国·四川·成都</p>
			</div>
		</div>

		<div class="contact-links">
			<a
				href="mailto:zixi-wang@outlook.com"
				target="_blank"
				rel="noopener noreferrer"
				title="Email"
			>
				<i class="fa-solid fa-envelope"></i>&nbsp;Email
			</a>
			<a
				href="https://orcid.org/0009-0009-4979-4562"
				target="_blank"
				rel="noopener noreferrer"
				title="ORCID"
			>
				<i class="fa-brands fa-orcid"></i>&nbsp;ORCID
			</a>
			<a
				href="https://github.com/dramwig"
				target="_blank"
				rel="noopener noreferrer"
				title="GitHub"
			>
				<i class="fa-brands fa-github"></i>&nbsp;GitHub
			</a>
			<a
				href="https://www.zhihu.com/people/feng-qing-51-31"
				target="_blank"
				rel="noopener noreferrer"
				title="Zhihu"
			>
				<i class="fa-brands fa-zhihu"></i>&nbsp;Zhihu
			</a>
			<a
				href="https://openreview.net/profile?id=~Zixi_Wang2"
				target="_blank"
				rel="noopener noreferrer"
				title="OpenReview"
			>
				<i class="fa-brands fa-solid"></i>&nbsp;OpenReview
			</a>
		</div>
	</div>

	<div class="main-content">
		<div class="section">
			<h2 class="en-version">Education</h2>
			<h2 class="cn-version">教育</h2>
			<ul class="education-list en-version">
				<li>
					<h3>University of Electronic Science and Technology of China</h3>
					<p>Master of Engineering in Software Engineering</p>
					<p>2025.09 - Present</p>
				</li>
				<li>
					<h3>Southwest Jiaotong University</h3>
					<p>Bachelor of Engineering in Software Engineering</p>
					<p>2021.09 - 2025.06</p>
				</li>
			</ul>
			<ul class="education-list cn-version">
				<li>
					<h3>电子科技大学</h3>
					<p>软件工程硕士</p>
					<p>2025.09 - Present</p>
				</li>
				<li>
					<h3>西南交通大学</h3>
					<p>软件工程学士</p>
					<p>2021.09 - 2025.06</p>
				</li>
			</ul>

		<div class="section">
			<h2 class="en-version">Research & Publications</h2>
			<h2 class="cn-version">研究与出版</h2>
			<ul class="paper-list">
				<li>
					<h3>论文1</h3>
					<p>描述11111111111111111111</p>
				</li>
				<li>
					<h3>论文2</h3>
					<p>描述222222222222222222222222</p>
				</li>
			</ul>
		</div>
	</div>
</section>
