<section class="page links-page">
	<!-- 左边面板，用于展示所选网页 -->
	<div class="left-panel">
		<div id="site-info">
			<img id="favicon" src="images/favicon.svg" onerror="this.src='images/default.svg'" alt="favicon">
			<h2 id="site-name"></h2>
			<a id="site-link" href="#" target="_blank"></a>
        </div>
        <iframe id="web-display" frameborder="0"></iframe>
	</div>
	<!-- 右边面板，包含多个网页链接 -->
	<div class="right-panel">
		<ul id="link-list">
            <li class="link-item" data-url="https://sunwuzhou03.github.io" data-avatar="https://sunwuzhou03.github.io/images/swz_250.jpg">Wuzhou Sun</li>
			<li class="link-item" data-url="https://ise.thss.tsinghua.edu.cn/~mlong/" data-avatar="images/default.svg">Mingsheng Long</li>
		</ul>
	</div>
</section>