<section class="page links-page">
	<!-- 左边面板，用于展示所选网页 -->
	<div class="left-panel">
		<div id="site-info">
			<a id="site-link" href="#" target="_blank">
				<img id="favicon" src="images/favicon.svg" onerror="this.src='images/default.svg'" alt="favicon">
				<h2 id="site-name"></h2>
				<p id="one-sentence">
					"Through scroll's poor casement where pale Embers glide,<br />
					I sip Lethe's spring yet cleave to Learnèd Flame's side."
				</p>
			</a>
        </div>
        <iframe id="web-display" frameborder="0"></iframe>
	</div>
	<!-- 右边面板，包含多个网页链接 -->
	<div class="right-panel">
		<ul id="link-list">
            <dev class="link-item" data-url="https://sunwuzhou03.github.io" data-avatar="https://sunwuzhou03.github.io/images/swz_250.jpg" data-sentence="">Wuzhou Sun</dev>
			<dev class="link-item" data-url="https://ise.thss.tsinghua.edu.cn/~mlong/" data-avatar="images/default.svg" data-sentence="“Everything should be made as simple as possible, but no simpler.”">Mingsheng Long</dev> <!--https://ise.thss.tsinghua.edu.cn/~mlong/misc/mlong.jpg-->
		</ul>
	</div>
</section>