<nav class="navbar">
	<img class="menu-icon" id="menu-icon" src="images/memu.svg" alt="menu" onclick="toggleMenu()">
	<ul class="nav-links">
		<li><a href="#home" class="nav-link">Home</a></li>
		<!-- <li><a href="#research" class="nav-link">Research</a></li> -->
		<li><a href="#publications" class="nav-link">Publications</a></li>
		<!-- <li><a href="#projects" class="nav-link">Projects</a></li> -->
		<li><a href="#links" class="nav-link">Links</a></li>
		<li><a href="#cv" class="nav-link">CV</a></li>
	</ul>

	<div class="lang-switcher" id="lang-switcher" onclick="toggleLanguage()">
		<span class="en-label active">EN</span>
		/
		<span class="zh-label">CN</span>
	</div>
	<div class="lang-switcher" id="lang-switcher-mini" onclick="toggleLanguage()">
		<span class="en-label en-version active">EN</span>
		<span class="zh-label cn-version ">CN</span>
	</div>
</nav>
