<section class="page publications-page">
	<div class="container">

		<h4 class="en-version">Preprints</h4>
        <h4 class="cn-version">预印本</h4>
		<ol>
			<li>
				<p>
					<strong>SWAT: Sliding Window Adversarial Training for Gradual Domain Adaptation</strong><br />
					<b>Zixi Wang</b>, Yubo Huang, Wenwei Luo, Tonglan Xie, Mengmeng Jing<sup>✉</sup>, Lin Zuo [<a href="https://arxiv.org/abs/2501.19155">arXiv</a>] 
				</p>
			</li>
			<li>
				<p>
					<strong>GDO: Gradual Domain Osmosis</strong><br />
					<b>Zixi Wang</b><sup>✉</sup>, Yubo Huang<sup>✉</sup> [<a href="https://arxiv.org/abs/2501.19159">arXiv</a>]
				</p>
			</li>
		</ol>

		<h4 class="en-version">Journal Articles</h4>
        <h4 class="cn-version">期刊论文</h4>
		<ol>
			<li>
				<p>
					<strong>Improved Genetic Algorithm Based on Greedy and Simulated Annealing Ideas for Vascular Robot Ordering Strategy</strong><br />
					<b>Zixi Wang</b>, Yubo Huang<sup>✉</sup>, Xin Lai, Changshuo Fan, Peng Lu<br />
					<em>PLOS ONE</em> [<a href="https://arxiv.org/abs/2403.19484">arXiv</a>] 
				</p>
			</li>
		</ol>

		<h4 class="en-version">Conference Proceedings</h4>
        <h4 class="cn-version">会议论文</h4>
		<ol>
			<li>
				<p>
					<strong>RD-Crack: A Study of Concrete Crack Detection Guided by a Residual Neural Network Improved Based on Diffusion Modeling</strong><br />
					Yubo Huang<sup>✉</sup>, Xin Lai, <b>Zixi Wang</b>, Muyang Ye, Yinmian Li, Yi Li, Fang Zhang & Chenyang Luo<sup>✉</sup><br />
					<em>International Conference on Artificial Neural Networks (ICANN)</em>, 2024 [<a href="https://link.springer.com/chapter/10.1007/978-3-031-72356-8_23">Link</a>]<br />
				</p>
			</li>
        </ol>
	</div>
</section>

<!-- 
<li>
	<p>
		<strong>title</strong><br />
		zuozhe1, zuozhe2, zuozhe3, <strong>zuozhe4<sup>✉</sup></strong> [<a href="">arXiv</a>] [<a href="">Code</a>]<br />
		<em>Nature</em> <strong>619</strong>, 526-532, 2023 [<a href="">Link</a>] [<a href="">Code</a>]<br />
		⚑ <strong><font color="blue">Hot Paper</font></strong>
	</p>
</li> 
-->