.publications-page .container {
	margin: 0 auto;
	width: 100%;
	padding: 10px 30px;
}

@media (max-width: 768px) {
	.publications-page .container {
		padding: 10px 0;
	}
}


.publications-page h4 {
	font-size: 1.3rem;
	color: var(--color-title);
	border-bottom: 1.5px solid var(--color-accent);
	padding-bottom: 0.5rem;
	margin: 0.5rem 0 0.5rem;
	font-weight: 600;
}

.publications-page ol {
	list-style: none;
	counter-reset: publication-counter;
	padding-left: 0;
}

.publications-page ol li {
	counter-increment: publication-counter;
	padding: 0.5rem;
	border-radius: 8px;
	display: flex;
	align-items: flex-start;
	transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
		box-shadow 0.3s ease;
}

.publications-page ol li::before {
	content: counter(publication-counter) ". ";
	font-weight: bold;
	color: var(--color-accent);
	margin-right: 0.5rem;
}

.publications-page ol li:active {
	-webkit-transform: translateX(-6px);
	transform: translateX(-6px);
	/* box-shadow: 0 2px 5px var(--color-shadow); */
}

.publications-page ol li p {
	display: inline-block;
	/* line-height: 1.3; 行间距 */
}

.publications-page a {
	color: var(--color-accent);
	text-decoration: none;
	transition: color 0.2s;
}

.publications-page a:hover {
	color: var(--color-accent);
	text-decoration: underline;
}

.publications-page sup {
	vertical-align: super;
	font-size: 0.8em;
	/* color: var(--red-mark); */
}
